/* styles.css */

/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #36393f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .player-list {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0;
  }

  .player-item {
    margin-bottom: 5px;
  }

  .PlayerList h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .PlayerList input {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    background-color: #40444b;
    color: #fff;
    width: 600px; /* Adjust the width as needed */
  }

  .PlayerList input::placeholder {
    color: #8e9297;
  }

  .PlayerList h2 {
    font-size: 20px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: #36393f;
    padding: 10px 0;
  }

  .PlayerList a {
    color: #00aaff; /* Change the color to your preferred color */
    text-decoration: none;
  }

  /* Changelog component */
  .Changelog {
    margin-top: 20px;
  }

  .Changelog h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .Changelog ul {
    padding-left: 20px;
  }

  .Changelog li {
    margin-bottom: 5px;
  }

  /* Flying rackets */
  .flying-rackets {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;  /* Lower than the main content */
}

  .racket {
    position: absolute;
    width: 80px;  /* Adjust size of emoji if needed */
    height: 80px;  /* Adjust size of emoji if needed */
    font-size: 80px;  /* Adjust size of emoji if needed */
    animation: flyAndRotate 5s linear infinite;
  }

  @keyframes flyAndRotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(150%, 150%) rotate(360deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(720deg);
    }
  }


  /* Responsive Styles */
  @media (max-width: 768px) {
    .PlayerList {
      margin: 10px;
    }

    .PlayerList h1 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .PlayerList input {
      width: 100%;
    }

    .PlayerList h2 {
      font-size: 18px;
      margin-bottom: 8px;
    }

    .player-item .ranking {
      width: 20px;
    }
  }

/* Main content */
.main-content {
    position: relative;
    z-index: 2;  /* Higher than the flying rackets */
  }

  .searching-header {
    animation: rotation 2s infinite linear;
  }

  .rotating-emoji {
    display: inline-block;
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .sidebar {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: #36393f;
    padding: 20px;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }


.sidebar.left {
  left: 0;
}

.sidebar.right {
  right: 0;
}